{% extends 'sayfalar/layout.html' %}

{% block modalKredi %}
{% include "sayfalar/includes/modal.html" %}
{% endblock modalKredi %}

{% block body %}
{% endblock body %}

{% block about_slide %} 
{% include "sayfalar/includes/aboutPage/about_slide.html" %}     
{% endblock about_slide %}
{% block about_header %}      
{% include "sayfalar/includes/aboutPage/about_header.html" %}     
{% endblock about_header %}
{% block about_main %}      
{% include "sayfalar/includes/aboutPage/about_main.html" %}     
{% endblock about_main %}


{% block krediBasvur %}
{% include "sayfalar/includes/floatingBtns/krediBasvur.html" %}
{% endblock krediBasvur %}

{% block home_btn %}
{% include "sayfalar/includes/floatingBtns/home_btn.html" %}      
{% endblock home_btn %}