{% extends 'sayfalar/layout.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block css %}
<link rel="stylesheet" href="{% static 'sayfalar/css/article.css' %}">
<link rel="stylesheet" href="{% static 'sayfalar/css/button_press_effect.css' %}">
{% endblock css %}

{% block body %}
<div style="height=100vh">
{% for post in posts %}
<article class="media content-section ">
    <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}" alt="{{profile}}" srcset="">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted}}</small>
        </div>
        <p><a href="{% url 'post-detail' post.id %}" style="font-style:italic;color:black;font-weight:bolder">{{ post.content }}</a></p>
    </div>
</article>
{% endfor %}
{% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">İlk Sayfa</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Önceki Sayfa</a>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range  %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Sonraki Sayfa</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Son Sayfa</a>
    {% endif %}
        
{% endif %}

{% if user.is_authenticated %}
    <div class="form-group txt_center">
        <a class="m-2" href="{% url 'post-create' %}">
            <button class="button_press_effect">
                    Yorum Yap
            </button>
        </a>
    </div>
{% else %}
    <div class="form-group txt_center">
        <p>Yorum Yapmak İçin Lütfen Üye Olunuuz</p>
        <div class="inline-block">
            <a class="m-2" href="{% url 'login' %}"><button class="button_press_effect">Giriş Yap</button></a>
            <a class="m-2" href="{% url 'register' %}"><button class="button_press_effect_blue">Kayıt Ol</button></a>
        </div>
    </div>
        <div class="form-group txt_center">
            <a class="button_press_effect_blue" style="color:#fff" role="button" href="{% provider_login_url "facebook" method="oauth2" %}"><img src="{% static 'sayfalar/img/facebook_bgWhite.svg' %}" style="height:20px" class="mr-1 mb-1 ml-0"><span 1style="line-height:20px"> İle Giriş Yapın</span></a>
        </div>   
{% endif %}
</div>
{% endblock body %}

{% block home_btn %}
{% include "sayfalar/includes/floatingBtns/home_btn.html" %}      
{% endblock home_btn %}