<!-- SLIDESHOW -->
<div class="yorumlar_slider max1920px">
    <div class="head orange"><i>Yorumlarınız</i></div>
    <div class="slide1">
        <p class="comment_head">Kredi almam imkansız gibi geliyordu ama EmekliFinans kredimi çıkarttı, teşekkürler İbrahim Bey</p>
        <p class="comment_name">Yusuf İnce</p>
        <p class="comment_occupation">Emekli Müfettiş</p>
    </div>
    <div class="slide2">
        <p class="comment_head">Hiç bir şekilde kredi alamazken kredimi çıkarttınız, teşekkürler Ahmet Bey</p>
        <p class="comment_name">Hamit Gündoğdu</p>
        <p class="comment_occupation">Emekli Esnaf</p>
    </div>
    <div class="slide3">
        <p class="comment_head">İlk başta çok çekindim ama iyi ki sizi aramışım.</p>
        <p class="comment_name">Mehmet Gündoğar</p>
        <p class="comment_occupation">Emekli Müfettiş</p>
    </div>
    <div class="slide4">
        <p class="comment_head">Sizden başka hiç kimse kredimi çıkartamazdı teşekkürler</p>
        <p class="comment_name">Hakan Doğan</p>
        <p class="comment_occupation">Emekli Maden İşçisi</p>
    </div>
    <div class="slide5">
        <p class="comment_head">Profesyonel yaklaşımınız için teşekkürler</p>
        <p class="comment_name">Ahmet Yıldız</p>
        <p class="comment_occupation">Emekli Tekstilci</p>
    </div>
    <div class="slide6">
        <p class="comment_head">Dürüstlüğünüze ve yardımlarınıza teşekkürler.</p>
        <p class="comment_name">Hüseyin Demir</p>
        <p class="comment_occupation">Emekli Memur</p>
    </div>
    <div class="slide7">
        <p class="comment_head">Kredi almamın imkanı yoktu, sayenizde aldım</p>
        <p class="comment_name">Hamit Gezen</p>
        <p class="comment_occupation">Emekli Bankacı</p>
    </div>
    <div class="slide8">
        <p class="comment_head">Samimi yaklaşımınıza ilginize teşekkürler</p>
        <p class="comment_name">Adiye Yılmaz</p>
        <p class="comment_occupation">Emekli Öğretmen</p>
    </div>
    <div class="slide9">
        <p class="comment_head">Beni büyük dertten kurtardınız, siz olmasanız nasıl para bulurdum bilmiyorum</p>
        <p class="comment_name">Ayşe Gündoğan</p>
        <p class="comment_occupation">Emekli Hemşire</p>
    </div>
</div>
<!-- END OF SLIDER -->