<!-- Footer -->
<footer class="width100 bg_black white txt_center bottom0" style="border-top: 2px solid #e8491d;padding-bottom:0;max-height:30vh">
    <div id="footer_top_class">
        <h1 class="fontsize_30 white" style="padding: 10px 0px"><span class="highlight">Emekli</span><span class="italic">Finans<span class="sup">&reg;</span></span>
        </h1>
        <p>Yasal ve güvenilir kredi danışmalığı</p>
        <p>İstanbul - Ankara - İzmir - Bursa</p>
        <a class="white" href="tel:05397436920" onclick="yaCounter50107273.reachGoal('Telefon Araması'); return true;">0539 743 69 20</a>
    </div>
    <div id="footer_title">
        <p class="fontsize_10" style="padding-bottom: 15px">Telif Hakkı &copy; 2020 <span class="highlight">Emekli</span><span class="italic">Finans<span class="sup">&reg;</span></span>, Tüm hakları saklıdır.</p>
    </div>
</footer>

<!-- End Of Footer -->