
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104114211-1"></script>

<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-104114211-1');
    gtag('config', 'AW-851313402');

</script>

<!-- End Of Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Ads: 851313402 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-851313402"></script>

<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-851313402');
</script>
<!-- End Of Global site tag (gtag.js) - Google Ads: 851313402 -->
<!-- Telefon Snippet -->
<script>
gtag('config', 'AW-851313402/goPyCJOezJMBEPqF-JUD', {
'phone_conversion_number': '05397436920'
});
</script>
<!-- End of Telefon Snippet -->
<!-- Event snippet for Mobil Tel Tıklamaları conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
var callback = function () {
if (typeof(url) != 'undefined') {
  window.location = url;
}
};
gtag('event', 'conversion', {
  'send_to': 'AW-851313402/cX4yCN60wJMBEPqF-JUD',
  'value': 1.0,
  'currency': 'TRY',
  'event_callback': callback
});
return false;
}
</script>
<!-- End of Event Snippet -->
<!--  Google Structured Data -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "FinancialService",
        "brand": "Emekli Finans",
        "image": "https://emeklifinans.com/img/EfLogo.png",
        "name": "Emekli Finans",
        "telephone": "+905397436920",
        "email": "bilgi@emeklifinans.com",
        "address": "Mithat Paşa Cd. No:1141 Konak İzmir Turkey",
        "url": "https://emeklifinans.com/",
        "logo": "https://emeklifinans.com/img/EfLogo.png",
        "pricerange": "100 - 2000 TL ",
        "sameAs": ["https://www.instagram.com/emeklifinans/",
            "https://www.facebook.com/EmekliFinans/"
        ],
        "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+905397436920",
            "contactType": "customer service"
        }],
        "potentialAction": [{
            "@type": "SearchAction",
            "target": "https://query.emeklifinans.com/search?q={emekli_finans}",
            "query-input": "required name=emekli_finans"
        }, {
            "@type": "SearchAction",
            "target": "https://query.emeklifinans.com/search?q={emekliye_kredi}",
            "query-input": "required name=emekliye_kredi"
        }]
    } {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Kredi Başvurusu",
            "item": "https://emeklifinans.com/basvuru.html"
        }, {
            "@type": "ListItem",
            "position": 2,
            "name": "Bize Ulaşın",
            "item": "https://emeklifinans.com/contact.html"
        }, {
            "@type": "ListItem",
            "position": 3,
            "name": "Emekliye Kredi",
            "item": "https://emeklifinans.com/EmekliyeKredi.html"
        }, {
            "@type": "ListItem",
            "position": 4,
            "name": "SicilBozuk",
            "item": "https://emeklifinans.com/SicilBozuk.html"
        }]
    }
</script>
<!-- End of Google Structured Data -->	