<meta name="theme-color" content="#3367D6"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if title %}
<title>Emekli Finans&reg; {{title}}</title>
{% else %}
<title>Emekli Finans&reg; Emekliye En Uygun Kredi</title>
{% endif %}

<meta name="mobile-web-app-capable" content="yes">
<meta name="description" content="Emekli Finans&reg; kredi alamayan emekliye en uygun krediyi çıkartır. Ön ödemesiz, profesyonel danışmanlık ile kredinizi hemen almak için bizi arayın ..." />
<meta name="keywords" content="Emekli Finans | Emekliye Kredi | emekli | kredi | icralık | Ptt kredi | Kredi Danışmanlık | Sicili Bozuk | Kara Liste | Acil Kredi" />
<meta name="subtitle" content="Siciliniz veya kredi notunuz düşük bile olsa kredinizi çıkartırız.">
<meta name="google" content="Emekli Kredi">
<meta property="fb:app_id" content="2007144656244083" />
<meta property="og:title" content="İcralık, Sicili Bozuk Emekliye Kredi" />
<meta property="og:site_name" content="Emekli Finans" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://emeklifinans.com/img/Emekli_Finans_Rahat_Emeklilik.png" />
<meta property="og:url" content="https://emeklifinans.com" />
<meta property="og:description" content="Her emeklinin hakkıdır rahat yaşamak. İhtiyaçlarınızı ertelemeyin, bizi arayın. Kredinizi çıkartalım." />
<meta property="og:locale" content="tr" />