{% load static %}
{% load webp_converter %}
<div class="max1920px">
    <div class="box">
        <div class="containerEF">
            <img class="width100" src="{% static_webp 'sayfalar/img/Rahat_EmekliFinans.jpg' 75 %}" alt="emekli finans">
            <div class="sliderTop">
                <div class="centered italic bold white shadow-black animated zoomOutDown topSlider1">Her emeklinin hakkıdır rahat yaşamak
                </div>
                <div class="centeredTop italic bold white shadow-black animated zoomInDown topSlider2">Rahat Bir Emeklilik için <span class="highlight">Emekli</span><span class="italic white">Finans<span class="sup">&reg;</span></span>
                </div>
            </div>
        </div>
    </div>
</div>
