{% load static %}
{% load webp_converter %}
<div class="max1920px">
    <div class="box">
        <div class="containerEF">
            <img class="width100" id="img_uzgun" src=" {% static_webp 'sayfalar/img/uzgun_Emekli_Finans.jpg' 75 %}" alt="emekli finans">
            <div id="krediAlamiyorum" class="italic bold black shadow-google" style="position: absolute; left: 3%;top: 3%;right: 40%;text-align: left">Kredi alamıyorum diye üzülmeye son!<br><span class="highlight">Emekli</span><span class="italic">Finans<span class="sup">&reg;</span></span> yanınızda</div>
        </div>
    </div>
</div>