{% load static %}
{% load webp_converter %}
<div class="max1920px">
    <div class="box">
        <div class="containerEF">
            <img class="width100" src=" {% static_webp 'sayfalar/img/Agreed_EmekliFinans.jpg' 75 %}" alt="Emekli Finans Kredi">
            <div class="centeredTop italic bold shadow-black">
                <h2 style="padding-top: 5vh"><strong><span class="highlight shadow-black">Emekli</span><span class="italic">Finans<span class="sup">&reg;</span></span> İle Kredi Almak Çok Kolay!</strong></h2>
            </div>
        </div>
    </div>
</div>