.button_press_effect{
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e8491d;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px #999;
}
.button_press_effect:hover{
    background-color: rgb(252, 55, 0)
}
.button_press_effect:active{
    background-color: rgb(252, 0, 0);
    box-shadow: 1px 2px #666;
    transform: translateY(4px);
}
.button_press_effect_blue{
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2b1de8;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px #999;
}
.button_press_effect_blue:hover{
    background-color: #0000FF
}
.button_press_effect_blue:active{
    background-color: #0000FF;
    box-shadow: 1px 2px #666;
    transform: translateY(4px);
}
.button_press_effect_green{
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px #999;
}
.button_press_effect_green:hover{
    background-color:chartreuse
}
.button_press_effect_green:active{
    background-color: green;
    box-shadow: 1px 2px #666;
    transform: translateY(4px);
}
.button_press_effect_red{
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px #999;
}
.button_press_effect_red:hover{
    background-color:orangered
}
.button_press_effect_red:active{
    background-color:red;
    box-shadow: 1px 2px #666;
    transform: translateY(4px);
}