{% extends 'sayfalar/layout.html' %}
{% load static %}
{% block messages-modal %}
{% endblock messages-modal %}

{% block body %}
<div class="content txt_center mt-5" style="height:100vh">
        <h3 class="">Başarı ile çıkış yapıldı</h3>
        <div class="marginTop5px">
                <a class="" href="{% url 'login' %}">Tekrar Giriş Yap</a>
        </div>
</div>
{% endblock body %}

{% block home_btn %}
{% include "sayfalar/includes/floatingBtns/home_btn.html" %}     
{% endblock home_btn %}

{% block whatsapp %}
{% include "sayfalar/includes/floatingBtns/whatsapp.html" %}
{% endblock whatsapp %}

{% block callnow %}
{% include "sayfalar/includes/floatingBtns/callNow.html" %}
{% endblock callnow %}

{% block tel %}
{% include "sayfalar/includes/floatingBtns/tel.html" %}  
{% endblock tel %}

