{% extends "sayfalar/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'sayfalar/css/article.css' %}">
{% endblock css %}
{% block messages-modal %}
{% endblock messages-modal %}
{% block body %}
    <div class="content-section" style="height:60vh">
        <form method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">Şifre Sıfırla</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Şifre Sıfırla</button>
            </div>
        </form>
    </div>
{% endblock body %}